/* Overall edits*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.body{
    background-color: #fff; 
}

/* Grid-container section edits*/
.grid-container{
    display: grid;
    grid-template-columns: 18.75em 1fr;
    grid-template-areas: 
    "header header"
    "sidebar main";
    max-width: 70%;
    margin: 0 auto;
    box-shadow: 10px 10px 35px black;
}
.grid-container p{
    line-height: 1.5625em;
}

/* Side-container section edits*/
.side-container{
    padding: 0 1.5625em 2.5em 1.5625em;
    background-color: rgb(34, 59, 113);
    color: white;
    align-content: start, space-evenly;
    grid-area: sidebar;
}
.side-container .Skills p{
    display: inline-flex;
    max-width: 4.0625em;
    background-color: rgb(89, 134, 225);
    border-radius: 40px;
    padding: 0.3125em;
    justify-content: center;
    margin: 0.3125em;
}
.side-container .contact,.Skills,.languages{
    margin-top: 1.875em;
    margin-bottom: 1.875em;
}
.side-container p , .Main-Container p{
    font-size: .95em;
    padding: 0.25em;
}
.side-container h2{
    border-bottom: 3px solid white;
    padding-bottom: 0.3125em;
}

/* Main-container section edits*/
.Main-Container{
    padding: 0 2.5em 0 2.5em;
    margin-top: 3.125em;
    margin-bottom: 3.125em;
    color: black;
    grid-area: main;
}
.Main-Container h2{
    color: rgb(39, 84, 90);
}
.Education,.Work-Experience,.Projects, .Proffessional-Summary{
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

/* header-side section edits*/
.header-side{
    background-color: rgb(24, 48, 93);
    color: white;
    text-align: center;
    display: flex;
    grid-area: header;
    justify-content: space-between;
}
.header-side img{
    border-radius: 600px;
    max-width: 11.0625em;
    max-height: 11.0625em;  
}
.title{
    align-content: center;
    max-width: 18.75em;
    margin-right: 3.125em;
}
.Picture{
    margin: 1.75em;
}

/* general section edits*/
h2{
    border-bottom: 3px solid rgb(86, 151, 241);
    padding-bottom: 0.3125em;
    margin-bottom: 0.3125em;
    margin-top: 0.9375em;
}
h3{
    margin-top: 1.25em;
}

/*Responsive media Queries adjustments*/
@media (max-width: 746px){
    *{
        justify-content: center;
        text-align: center;
    }
    .grid-container{
        display: inline-flex;
        flex-direction: column;
    }
    .header-side{
        flex-direction: column;
        align-items: center;
    }
    .Picture, .title{
        margin: 0;
    }
    .side-container .contact{
        margin-top: 0;
    }
}
